body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

h1{
    color: green;
}

form{
    background-color: wheat;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px blanchedalmond;
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid ;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: tomato;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
   color: white; 
}


#result{
    font-size: 1.75em;
    font-weight: bold;
}
